<div class="row sector-margin">
  <div class="col-4 sector-margin text-start"  style="margin-top: 30px;">
    <a id="dashboard2backhome"
         routerLink="/home"
         routerLinkActive="router-link-active">
         <mat-icon>home</mat-icon>
         <!-- <img src="./assets/images/icon-home.jpg" alt="User data" width="32px" height="32px" style="padding-top: 10px;"> -->
        </a>
  </div>
  <div class="col-8 sector-margin">
    <p class="text-start m-5  home-top-text">
      {{ title }}
    </p>
  </div>
</div>
<mat-divider></mat-divider>
<div class="vspacer"></div>
