<div class="container-xl gradient-ocean-blue">
  <div class="row" style="height: 200px;">
    <div class="col-md-12 col-lg">
         <p class="text-center m-3  fs-3 fs">
           Zentralrat Digital Center Dashboard
         </p>
    </div>
  </div>

  <div class="row breadcrumb-background"  style="height: 48px;">
    <div class="col-2 text-start">
      <span style="margin: 5px">
        <a id="dashboard2backhome"
           routerLink="/home"
           routerLinkActive="router-link-active">
           <img src="./assets/images/icon-home.jpg" alt="User data" width="32px" height="32px">
          </a>
      </span>
    </div>
    <div class="col-10 text-end">
      <span style="margin: 5px">
        <a id="dashboard2Datacapture"
        routerLink="/datacapture"
        routerLinkActive="router-link-active">
          <img src="./assets/images/icon-datastore.jpg" alt="User data" width="32px" height="32px">
        </a>

      </span>
      <span style="padding-left: 5px; padding-right: 5px">
        <img src="./assets/images/icon-calendar.jpg" alt="User data" width="32px" height="32px">
      </span>
      <span style="padding-left: 5px; padding-right: 5px">
        <a id="dashboard2docmanager"
           routerLink="/docexplorer"
           routerLinkActive="router-link-active">
           <img src="./assets/images/icon-document.jpg" alt="User data" width="32px" height="32px">
        </a>

      </span>
      <span style="padding-left: 5px; padding-right: 5px">
        <img src="./assets/images/icon-presentation.jpg" alt="User data" width="32px" height="32px">
      </span>
      <span style="padding-left: 5px; padding-right: 5px">
        <img src="./assets/images/icon-settings.jpg" alt="User data" width="32px" height="32px">
      </span>
      <span style="padding-left: 5px; padding-right: 5px">
        <img src="./assets/images/icon-male.jpg" alt="User data" width="32px" height="32px">
      </span>
    </div>
  </div>

  <div class="row">

    <div class="col-md-3 text-center gradient-btw-red-purple" style="color: whitesmoke">

    </div>
    <div class="col-md-9 border" style="background-color: white;">
      <!-- row 1 for feature info-->
      <div class="row justitfy-content-evenly" style="margin-top: 60px; margin-left: 20px;">
        <div class="col-md-4">
          <div class="card text-center ">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <img src="https://mdbootstrap.com/img/new/standard/nature/111.webp" class="img-fluid" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
              </a>
            </div>

            <div class="card-body">
              <h5 class="card-title">Data Manager</h5>

            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card text-center ">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <img src="https://mdbootstrap.com/img/new/standard/nature/111.webp" class="img-fluid" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
              </a>
            </div>

            <div class="card-body">
              <h5 class="card-title">Data Capture</h5>

            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card text-center ">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <img src="https://mdbootstrap.com/img/new/standard/nature/111.webp" class="img-fluid" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
              </a>
            </div>

            <div class="card-body">
              <h5 class="card-title">Data View</h5>
            </div>
          </div>
        </div>
      </div>

      <div class="row justitfy-content-evenly" style="margin-top: 60px; margin-left: 20px;">
        <div class="col-md-4">
          <div class="card text-center ">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <img src="https://mdbootstrap.com/img/new/standard/nature/111.webp" class="img-fluid" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
              </a>
            </div>

            <div class="card-body">
              <h5 class="card-title">Documents</h5>

            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card text-center ">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <img src="https://mdbootstrap.com/img/new/standard/nature/111.webp" class="img-fluid" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
              </a>
            </div>

            <div class="card-body">
              <h5 class="card-title">Document Search</h5>

            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card text-center ">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <img src="https://mdbootstrap.com/img/new/standard/nature/111.webp" class="img-fluid" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
              </a>
            </div>

            <div class="card-body">
              <h5 class="card-title">Calender</h5>

            </div>
          </div>
        </div>
      </div>

      <div class="row justitfy-content-evenly" style="margin-top: 60px; margin-left: 20px;">
        <div class="col-md-4">
          <div class="card text-center ">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <img src="https://mdbootstrap.com/img/new/standard/nature/111.webp" class="img-fluid" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
              </a>
            </div>

            <div class="card-body">
              <h5 class="card-title">Card title</h5>

            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card text-center ">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <img src="https://mdbootstrap.com/img/new/standard/nature/111.webp" class="img-fluid" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
              </a>
            </div>

            <div class="card-body">
              <h5 class="card-title">Card title</h5>

            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card text-center ">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <img src="./assets/images/personal-male.png"
                   class="img-fluid rounded-circle"
                   style="border: 2px solid lightgray;"
                   alt="User profile picture"
              />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
              </a>
            </div>

            <div class="card-body">
              <h5 class="card-title">Profile</h5>

            </div>
          </div>
        </div>
      </div>

      <div class="row" style="margin-top: 40px;">

        <div class="col-md-2">

        </div>

      </div>

  </div>
  </div>
  <div class="row">
    <div class="col-md-12" style="height: 150px">

    </div>
  </div>
</div>

