<div class="container">
  <div class="d-flex justify-content-center align-items-center" style="height: 50vh">
    <div class="text-center">
      <h1>Welcome to the DIS Playgroung</h1>
      <h5 class="mb-3" style="margin-top: 100px;">Thank you for using our product. We're glad you're with us.</h5>
      <p>
        In the digitalCenter build different kind of web view and editor to can be copied in
        other projects. Using different CSS style from MDB and W3
      </p>
      <span style="margin-right: 20px;">
        <a class="btn btn-primary btn-lg"
           routerLink="/startpoint"
           routerLinkActive="router-link-active"
           role="button">
           Starting Point
        </a>
      </span>
      <span style="margin-right: 20px;">
        <a class="btn btn-primary btn-lg"
           routerLink="/login"
           routerLinkActive="router-link-active"
           role="button">
           Login View
        </a>
      </span>
      <span style="margin-right: 20px;">
        <a class="btn btn-primary btn-lg"
           routerLink="/dashboard"
           routerLinkActive="router-link-active"
           role="button">
           Dashboard
        </a>
      </span>

      <span style="margin-right: 20px;">
        <a class="btn btn-primary btn-lg"
           routerLink="/dashboard"
           routerLinkActive="router-link-active"
           role="button">
           Data Manager
        </a>
      </span>

      <br>
      <br>

      <span style="margin-right: 20px;">
        <a class="btn btn-primary btn-lg"
           routerLink="/datacapture"
           routerLinkActive="router-link-active"
           role="button">
           Data Capture
        </a>
      </span>

      <span style="margin-right: 20px;">
        <a class="btn btn-primary btn-lg"
           routerLink="/dataview"
           routerLinkActive="router-link-active"
           role="button">
           Data View
        </a>
      </span>

      <span style="margin-right: 20px;">
        <a class="btn btn-primary btn-lg"
           routerLink="/docexplorer"
           routerLinkActive="router-link-active"
           role="button">
           Document Manager
        </a>
      </span>

      <span style="margin-right: 20px;">
        <a class="btn btn-primary btn-lg"
           routerLink="/dashboard"
           routerLinkActive="router-link-active"
           role="button">
           Calendar
        </a>
      </span>

      <br>
      <br>

      <span style="margin-right: 20px;">
        <a class="btn btn-primary btn-lg"
           routerLink="/incidentreport"
           routerLinkActive="router-link-active"
           role="button">
           Incident Reporting
        </a>
      </span>

    </div>
  </div>
</div>
