
.login-welcome {
  display: block;
  font-size: 3em;
  font-size-adjust: 0.58;
  font-weight: bold;
  font-variant-caps: normal;
  margin-top: 50px;
  margin-bottom: 100px;
  -ms0-flex-grow: 1;
  flex-grow: 1;
  text-align: center;
  white-space: normal;
}
