<div class="container-xl gradient-ocean-blue">
  <div class="row" style="height: 200px;">
    <div class="col-md-12 col-lg">
         <p class="text-center m-5  fs-1 fs">
           Zentralrat Digital Center
         </p>
    </div>
  </div>
  <div class="row" style="height: 600px;">
    <div class="col-md-6 text-center gradient-btw-red-purple" style="color: whitesmoke">

         <p style="font-size: 2.4em; font-weight: bold; margin: 60px">
          Welcome to Zentralrat Digital Infrastructure Manager
         </p>

         <p style="font-size: 1em; font-weight: bold">
          Sign in to continue
         </p>

         <p class="text-start text-bottom" style="text-align: bottom; margin-top: 300px">
          www.anti-rasicsm-zentralrat.com
         </p>

    </div>
    <div class="col-md-6 border" style="background-color: white;" >
      <div class="row" style="margin-top: 60px; margin-left: 40px;">
        <p style="font-weight: bold; font-size: 2em">Sign In</p>
      </div>

      <div class="row" style="margin-top: 40px;">
        <div class="col-md-12">

          <mdb-form-control>
            <!-- Email input form-outline .form-control~.form-notch-->
            <div class="form-outline mb-4 input-generic">
              <input type="email" id="form1" class="form-control"/>
              <label class="form-label" for="form1">Email address</label>
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4 input-generic">
              <input type="password" id="form1Example2" class="form-control" />
              <label class="form-label" for="form1Example2">Password</label>
            </div>

            <!-- 2 column grid layout for inline styling -->
            <div class="row mb-4">
              <div class="col-4 m-1">
                <!-- Simple link -->
                <a href="#!">Sign up</a>
              </div>

              <div class="col-4">
                <!-- Simple link -->
                <a href="#!">Forgot password?</a>
              </div>
            </div>

            <div class="row mb-4">
              <div class="col d-flex justify-content-center">
                <!-- Checkbox -->
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="form1Example3" checked />
                  <label class="form-check-label" for="form1Example3"> Sign up </label>
                </div>
              </div>
            </div>


            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block">Sign in</button>
          </mdb-form-control>

        </div>
      </div>

  </div>
  </div>
  <div class="row">
    <div class="col-md-12" style="height: 150px">

    </div>
  </div>
</div>
